<h2>Commentários</h2>
<%= render 'comments/comment' %>
<%= form_for [ @produtos, @produtos.comments.build ] do |f| %>

  <h2>Adicionar comentário</h2>
  <div>
    <%= f.label :commenter %> <br />
    <%= f.text_field :commenter %>
  </div>

  <div>
    <%= f.label :classificacao %>
    <%= f.select :classificacao, Comment.classificacaos.keys.to_a %>
  </div>

  <div>
    <%= f.label :status %><br/>
    <%= f.select :status, ['public', 'private', 'archived'], selected: 'public' %><br/>
  </div>
  
  <%= f.submit "Criar Comentarios", class: "button" %>
<% end %>