<%= form_for @produtos, html: { class: "basic-grey" } do |f| %>
  <% if @produtos.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "error") %> Nao possibilitou salvamento do produto :</h2>
      <ul>
        <% produto.errors.full_messages_for(:nome).each do |message| %>
          <li><%= message %></li>
        <% end %>
        <% produto.errors.full_messages_for(:codigo).each do |message| %>
          <li><%= message %></li>
        <% end %>
        <% produto.errors.full_messages_for(:descricao).each do |message| %>
          <li><%= message %></li>
        <% end %>
        <% produto.errors.full_messages_for(:classificacao).each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3> Novo Produto </h3>

  <div>
    <%= f.label :codigo %><br />
    <%= f.text_field :codigo %><br />
    <% @produtos.errors.full_messages_for(:codigo).each do |message| %>
      <div> <%= message %> </div>
    <% end %>
  </div>

  <div>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %><br />
    <% @produtos.errors.full_messages_for(:nome).each do |message|  %>
      <div> <%= message %> </div>
    <% end %>
  </div>

  <div>
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %><br />
    <% @produtos.errors.full_messages_for(:descricao).each do |message| %>
      <div> <%= message %> </div>
    <% end %>
  </div>

  <div>
    <%= f.label :classificacao %><br />
    <%= f.text_field :classificacao %><br />
    <% @produtos.errors.full_messages_for(:classificacao).each do |message| %>
      <div> <%= message %> </div>
    <% end %>
  </div>

  <div>
      <%= f.submit "Criar", class: "button"%>
      <%= link_to 'Back', produtos_url, class: "button-green" %>
  </div>
<% end %>