<div class="text-white pt-2">
  <h2></h2>
</div>

<%= render 'search_form' %>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
      <% @produtos.each do |produto| %>
        <% unless produto.archived? %>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" 
                width="100%" height="225" xmlns="http://www.w3.org/2000/svg" 
                role="img" aria-label="Placeholder: Thumbnail" 
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title><%= produto.nome %></title>
                <rect width="100%" height="100%" fill="#55595c"/>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                  <%= link_to produto.nome, produto %>
                  
                </text>
              </svg>
              <div class="card-body">
                <%#= link_to produto.descricao, produto %>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to "View", produto_path(produto), 
                                class: "btn btn-outline-secondary" %>
                    <%= link_to "Edit", edit_produto_path(produto), 
                                class: "btn btn-outline-secondary", remote: true %>

                    <%= link_to "Destroy", produto_path(produto), 
                                class: "btn btn-outline-secondary",
                                method: :delete, 
                                data: {confirm: "Tem Certeza?"} %>
                  </div>
                  <small class="text-muted">Valor: R$<%= produto.valor %></small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>  
  </div>
  <br/>    
  <%= link_to 'Novo Produto', new_produto_path, remote:true, class: 'btn btn-primary' %>
</div>

<%= render 'produtos/modal' %>