<div class="basic-grey">
  <div>
    <strong>Codigo:</strong>
    <%= @produtos.codigo %>
  </div>

  <div>
    <strong>Nome:</strong>
    <%= @produtos.nome %>
  </div>

  <div>
    <strong>Classificação:</strong>
    <%= @produtos.classificacao %>
  </div>

  <div>
    <strong>Descrição:</strong>
    <%= @produtos.descricao %> 
  </div>

  <%= render 'comments/form' %>
  <br/>
  <br/>
  <div>
    <%= link_to "Edit", edit_produto_path(@produtos), class: "button" %>
    <br/>
    <br/>
    <br/>
    <br/>
    <%= link_to "Destroy", produto_path(@produtos), class: "button-green",
                      method: :delete, 
                      data: {confirm: "Tem Certeza?"} %>
  </div>
  <br/>
  <br/>
  <br/>
  <%= link_to "Voltar", root_path, class: "button"%>
</div>